



body {
    margin: 0;
    padding: 0;
}


.wrapper {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    position: relative;
}

.page {
    width: 70%;
}

// @media screen and (max-width: 320px) {
//     .page {
//         width: 100%;
//     }
// }

@media (orientation: portrait) {
    .page {
        width: 100%;
    }
}