<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ it.title }}</title>

    <link rel="stylesheet" href="/sass/global.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/glob.png">
    <link rel="canonical" href="http://localhost/">
    
	<meta property="og:type" content="website">
	<meta property="og:title" content="alGlobus">
	<meta property="og:url" content="http://localhost/">
</head>
<body>
    {{ it.content }}
</body>
</html>
